.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
}

.description {
    font-size: 0.85rem;
    font-family: var(--font-mono);
}

/* Small screen ATM */
@media (max-width: 700px) {
    .description {
        font-size: 0.8rem;
    }
}