.main {
  padding: 6rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  margin: auto;
}

/* Small screen ATM */
@media (max-width: 700px) {
  .center {
    padding: 8rem 0 6rem;
  }
}